In [31]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import joblib

In [2]:
rawdata = pd.read_excel('datasets/weight-height.xlsx')
rawdata.head()

                 Gender,"Height","Weight"
0   Male,73.847017017515,241.893563180437
1  Male,68.7819040458903,162.310472521300
2    Male,74.1101053917849,212.7408555565
3  Male,71.7309784033377,220.042470303077
4  Male,69.8817958611153,206.349800623871

In [32]:
columns = ['Gender','Weight','Height']

data = pd.DataFrame({i:str(rawdata.iloc[i]).split()[1].split(',') for i in range(len(rawdata))}).T
data.columns = columns

data.head()

  Gender            Weight            Height
0   Male   73.847017017515  241.893563180437
1   Male  68.7819040458903  162.310472521300
2   Male  74.1101053917849    212.7408555565
3   Male  71.7309784033377  220.042470303077
4   Male  69.8817958611153  206.349800623871

In [33]:
# Encode data Gender
label_enc = LabelEncoder()

data.Gender = label_enc.fit_transform(data.Gender)

In [34]:
data.head()

   Gender            Weight            Height
0       1   73.847017017515  241.893563180437
1       1  68.7819040458903  162.310472521300
2       1  74.1101053917849    212.7408555565
3       1  71.7309784033377  220.042470303077
4       1  69.8817958611153  206.349800623871

In [35]:
X = data[['Gender','Height']]
y = data.iloc[:, 1]

In [36]:
lin_reg = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = lin_reg.fit(X_train, y_train)

In [37]:
accuracy = model.score(X_test, y_test)

In [38]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 85.84286742230731%

In [40]:
joblib.dump(model, "weight-height-regression-using-linear-regression.pkl")

['weight-height-regression-using-linear-regression.pkl']