# Function
Misalkan kita ingin menyanyikan lagu ulang tahun untuk Julee Kemudian kita mencetak baris berikut:

In [ ]:
print("Happy Birthday to you!")
print("Happy Birthday to you!")
print("Happy Birthday, dear kartik.")
print("Happy Birthday to you!")

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

## Definisi fungsi
kita bisa mendefinisikan fungsi untuk mencetak baris lagu ulang tahun

In [ ]:
def happy_birthday_to_kartik(): # Mendefinisikan fungsi
  """
  Print lagu ulang tahun untuk kartik.
  """
  print("Happy Birthday to you!")
  print("Happy Birthday to you!")
  print("Happy Birthday, dear kartik.")
  print("Happy Birthday to you!")

## Memanggil fungsi

In [ ]:
# memanggil fungsi:
print('Function call 1')
happy_birthday_to_kartik()
print()
# Kita dapat memanggil fungsi tersebut sebanyak banyaknya 
# Kita cukup mendefinisikan fungsi sekali
print('Function call 2')
happy_birthday_to_kartik()
print()
print('Function call 3')
happy_birthday_to_kartik()
print()
# Bukan memanggil fungsi
print('This is not a function call')
happy_birthday_to_kartik

Function call 1
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

Function call 2
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

Function call 3
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

This is not a function call

### Memanggil fungsi dari fungsi lain
sangat membantu jika kita ingin membagi tugas kita menjadi subtugas yang lebih kecil dan lebih mudah dikelola

In [ ]:
def new_line():
  """Print a new line."""
  print()
def two_new_lines():
  """Print two new lines."""
  new_line()
new_line()
print("Printing a single line...")
new_line()
print("Printing two lines...")
two_new_lines()
print("Printed two lines")

Printing a single line...

Printing two lines...

Printed two lines

In [ ]:
help(happy_birthday_to_kartik)

Help on function happy_birthday_to_kartik in module __main__:

happy_birthday_to_kartik()
    Print lagu ulang tahun untuk kartik.

In [ ]:
type(happy_birthday_to_kartik)

function

## Input fungsi

### Parameter dan argument
**Parameter**: Nama variabel dalam definisi fungsi.

**Argument**: Nilai untuk parameter pada saat fungsi dipanggil.

In [9]:
# Mendefinisikan fungsi dengan parameter 'name'
def happy_birthday(name):
  """
  Print a birthday song with the "name" of the person inserted.
  """
  print("Happy Birthday to you!")
  print("Happy Birthday to you!")
  print(f"Happy Birthday, dear {name}.")
  print("Happy Birthday to you!")

# Memanggil fungsi dengan nilai argumen tertentu
happy_birthday("kartik")

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

Variabel `my_name` pada pemanggilan fungsi di bawah ini adalah nilai untuk parameter `name`

In [ ]:
my_name = "kartik"
happy_birthday(my_name)

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

jika parameter `name` tidak diisi, maka akan error

In [ ]:
happy_birthday()

TypeError: ignored

Fungsi dapat menerima banyak parameter (lebih dari 1).

In [ ]:
def multiply(x, y):
  """Multiply two numeric values."""
  result = x * y
  print(result)

multiply(2020,5278238)
multiply(2,3)

10662040760
6

### Positional vs keyword parameter dan argument

In [10]:
# x and y adalah positional parameter, third_number adalah keyword parameter
def multiply(x, y, third_number=1):
  """Multiply two or three numbers and print the result."""
  result=x*y*third_number
  print(result)

multiply(2,3) # hanya memberi nilai untuk positional parameter
multiply(2,3,third_number=4) # memberi nilai untuk semua parameter

6
24

## Output: `return` statement

In [11]:
def multiply(x, y):
  """Multiply two numbers and return the result."""
  multiplied = x * y
  return multiplied

# assign nilai yang dikembalikan ke variabel z
result = multiply(2, 5)
print(result)

10

In [ ]:
multiply(30,20)

600

### Return banyak nilai

In [12]:
def calculate(x,y):
  """Calculate product and sum of two numbers."""
  product = x * y
  summed = x + y

  # nilai dikembalikan dalam sebuah tuple
  return product, summed

# fungsi mengembalikan tuple dan kita taruh ke var1 dan var2
var1, var2 = calculate(10,5)
print("product:",var1,"sum:",var2)

product: 50 sum: 15

## Lambda - anonymous function
**anonymous function** adalah fungsi yang didefinisikan tanpa nama. Lambda dapat menerima sejumlah argument tetapi mengembalikan hanya satu nilai dalam bentuk expression.

Syntax:

lambda **argument_list**: **expression**

In [ ]:
# Program to show the use of lambda functions
double = lambda x: x * 2
print(double(6))

12

### fungsi built-in untuk lambda : `filter()`

In [14]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12] # total 8 elemen
new_list = list(filter(lambda x: (x%2 == 0), my_list)) # return output dalam list
print("Even numbers are: ", new_list)

Even numbers are:  [4, 6, 8, 12]

### fungsi built-in untuk lambda : `map()`

In [15]:
# Program to double each item in a list using map()
my_list = [1, 5, 4, 6, 8, 11, 3, 12] # total 8 elemen
new_list = list(map(lambda x: x * 2, my_list)) # return output dalam list
print("Double values are: ", new_list)

Double values are:  [2, 10, 8, 12, 16, 22, 6, 24]

### fungsi built-in untuk lambda : `reduce()`

Fungsi `reduce()` digunakan untuk meringkas elemen barisan menjadi nilai tunggal dengan menerapkan kondisi tertentu.

In [ ]:
from functools import reduce
list1 = [20, 13, 4, 8, 9]
add = reduce(lambda x, y: x+y, list1)
print("Addition of all list elements is : ", add)

Addition of all list elements is :  54

# Object Oriented Programming (OOP)
(OOP) adalah paradigma pemrograman yang didasarkan pada konsep "objek". Objek berisi data dan program: Data dalam bentuk variabel (dikenal sebagai atribut), dan program dalam bentuk metode (tindakan yang dapat dilakukan objek).

Suatu objek punya dua karakteristik:
*   atribut
*   perilaku

## Class
`class` adalah *blueprint* untuk objek. Untuk membuat objek kita memerlukan model atau *blueprint* yaitu `class`.

Syntax:

```
class classname:
  '''documentation string'''
  class_suite
```

In [16]:
class Parrot:
  pass

# Membuat class
class Person:
  pass
  
print(Person)

<class '__main__.Person'>

## Objek
sebuah objek (instance) adalah sebuah instansiasi dari sebuah `class`. objek adalah entitas yang memiliki atribut dan perilaku.

Syntax:

`reference_variable = classname()`

In [17]:
obj = Parrot()
p = Person()
print(p)

# Contoh 1: Membuat sebuah objek dengan memanggil class
p = Person()
print(p)

<__main__.Person object at 0x7f4b5fd58590>
<__main__.Person object at 0x7f4b5fd58cd0>

In [18]:
# Contoh 2: Membuat Class dan Object di Python
class Student:
  """This is student class with data"""
  def learn(self): # contoh method
    print("Welcome to Dr. Milaan Parmar's class on Python Programming")

stud = Student() # Membuat object
stud.learn() # Memanggil method
# Output: Welcome to Dr. Milaan Parmar's class

Welcome to Dr. Milaan Parmar's class on Python Programming

## Class Constructor
Python memiliki fungsi constructor bawaan `__init__()`. Fungsi Constructor `__init__()` memiliki parameter `self` yang merupakan referensi ke instance dari class saat ini.

In [19]:
class Person:
  def __init__ (self, name):
    # self memungkinkan untuk menambahkan parameter ke class
    self.name = name

p = Person('Milaan')
print(p.name)
print(p)

Milaan
<__main__.Person object at 0x7f4b5fd40990>

class dengan banyak parameter pada fungsi constructor

In [ ]:
class Person:
  def __init__(self, firstname, lastname, age, country, city):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city

p = Person('Milaan', 'Parmar', 96, 'England', 'London')
print(p.firstname)
print(p.lastname)
print(p.age)
print(p.country)

Milaan
Parmar
96
England

## Variable dan Method dari Instance

dalam bekerja dengan variabel dan method dari instance, kita gunakan keyword `self`.

In [23]:
# Contoh 2: Membuat Class dan Object di Python
class Student:
  def __init__(self, name, percentage):
    self.name = name
    self.percentage = percentage
    
  def show(self):
    print("Name is:", self.name, "and percentage is:",
    self.percentage)

Kita dapat mengakses variabel dan method dari instance menggunakan objek. Gunakan operator titik (.) untuk mengakses variabel dan method dari instance.

In [21]:
stud = Student("Arthur", 90)
stud.show()
# Output Name is: Arthur and percentage is: 90

Name is: Arthur and percentage is: 90

perbedaan antara class attribute dengan instance attribute

In [24]:
# Contoh 3: Membuat Class dan Object di Python

class Parrot:
  species = "bird" # class attribute
  def __init__(self, name, age): # instance attribute
    self.name = name
    self.age = age

# instansiasi Parrot class
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)

# akses class attributes
print("Blu is a {}".format(blu.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))

# akses instance attributes
print("{} is {} years old".format( blu.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

## Object Method
Object Method adalah fungsi yang dimiliki oleh objek. Object Method digunakan untuk mendefinisikan perilaku suatu objek.

In [25]:
# Contoh 1:
class Person:
  def __init__(self, firstname, lastname, age, country, city):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city
    
  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}'

p = Person('Milaan', 'Parmar', 96, 'England', 'London')
print(p.person_info())

Milaan Parmar is 96 years old. He lives in London, England

In [26]:
# Contoh 2: Membuat Class dan Object di Python
class Parrot:
  # instance attributes
  def __init__(self, name, age):
    self.name = name
    self.age = age

  # instance method
  def sing(self, song):
    return "{} sings {}".format(self.name, song)
    
  def dance(self):
    return "{} is now dancing".format(self.name)

`sing()` dan `dance()` disebut instance method karena dipanggil pada instansiasi objek yaitu blu.

In [27]:
# instansiasi object
blu = Parrot("Blu", 10)
# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

Blu sings 'Happy'
Blu is now dancing

## Object Default Methods
kita dapat menghindari kesalahan ketika kita memanggil atau membuat instance kelas kita tanpa parameter dengan nilai default pada parameter

In [28]:
class Person:
  def __init__(self, firstname='Milaan', lastname='Parmar',
  age=96, country='England', city='London'):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city
    
  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'

p1 = Person()
print(p1.person_info())
p2 = Person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())

Milaan Parmar is 96 years old. He lives in London, England.
Ben Doe is 30 years old. He lives in Tampere, Finland.

## Method untuk memodifikasi nilai default Kelas

Dalam class Person, kita memiliki parameter `skills` yang dapat diakses menggunakan method. Akan dibuat method `add_skill` untuk menambahkan *skill* ke list `skills`.

In [29]:
class Person:
  def __init__(self, firstname='Milaan', lastname='Parmar',
  age=96, country='England', city='London'):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city
    self.skills = []
    
  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'
  
  def add_skill(self, skill):
    self.skills.append(skill)

p1 = Person()
print(p1.person_info())
p1.add_skill('Python')
p1.add_skill('MATLAB')
p1.add_skill('R')
p2 = Person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())
print(p1.skills)
print(p2.skills)

Milaan Parmar is 96 years old. He lives in London, England.
Ben Doe is 30 years old. He lives in Tampere, Finland.
['Python', 'MATLAB', 'R']
[]

## Inheritance
Inheritance adalah proses mewariskan sifat-sifat class dasar (atau
parent class) menjadi class turunan (atau child class).

Syntax:
```
class BaseClass:
  Body of base class
class DerivedClass(BaseClass):
  Body of derived class
```

In [30]:
# Contoh 1: Penggunaan Inheritance di Python
class ClassOne: # Base class
  def func1(self):
    print('This is Parent class')

class ClassTwo(ClassOne): # Derived class
  def func2(self):
    print('This is Child class')

obj = ClassTwo()
obj.func1()
obj.func2()

This is Parent class
This is Child class

In [31]:
# Contoh 2: Penggunaan Inheritance di Python

class Student(Person):
  pass

s1 = Student('Arthur', 'Curry', 33, 'England', 'London')
s2 = Student('Emily', 'Carter', 28, 'England', 'Manchester')
print(s1.person_info())
s1.add_skill('HTML')
s1.add_skill('CSS')
s1.add_skill('JavaScript')
print(s1.skills)

print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

Arthur Curry is 33 years old. He lives in London, England.
['HTML', 'CSS', 'JavaScript']
Emily Carter is 28 years old. He lives in Manchester, England.
['Organizing', 'Marketing', 'Digital Marketing']

## Overriding parent method

In [32]:
# Contoh 2: Overriding parent method dari contoh di atas

class Student(Person):
  def __init__ (self, firstname='Milaan', lastname='Parmar',age=96,
  country='England', city='London', gender='male'):
    self.gender = gender
    super().__init__(firstname, lastname,age, country, city)

  def person_info(self):
      gender = 'He' if self.gender =='male' else 'She' 
      return f'{self.firstname} {self.lastname} is {self.age} years old. {gender} lives in {self.city}, {self.country}.'

s1 = Student('Arthur', 'Curry', 33, 'England', 'London','male')
s2 = Student('Emily', 'Carter', 28, 'England', 'Manchester','female')
print(s1.person_info())
s1.add_skill('HTML')
s1.add_skill('CSS')
s1.add_skill('JavaScript')
print(s1.skills)

print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

Arthur Curry is 33 years old. He lives in London, England.
['HTML', 'CSS', 'JavaScript']
Emily Carter is 28 years old. She lives in Manchester, England.
['Organizing', 'Marketing', 'Digital Marketing']

In [2]:
# Example 3: Use of Inheritance in Python
# parent class
class Bird:
  def __init__(self):
    print("Bird is ready")

  def whoisThis(self):
    print("Bird")
    
  def swim(self):
    print("Swim faster")

In [3]:
# child class
class Penguin(Bird):
  def __init__(self):
    # call super() function
    super().__init__()
    print("Penguin is ready")
    
  def whoisThis(self):
    print("Penguin")
    
  def run(self):
    print("Run faster")

In [4]:
peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

## Enkapsulasi
Dalam Python, enkapsulasi adalah metode membungkus data dan fungsi menjadi satu entitas. Menggunakan OOP di Python, kita dapat membatasi akses ke method dan variabel. Ini mencegah data
dari modifikasi langsung yang disebut enkapsulasi.

Kita tulis atribut private menggunakan underscore sebagai prefix yaitu single _ atau double __.

In [33]:
# Contoh 1: Data Encapsulation di Python
class Computer:
  def __init__(self):
    self.__maxprice = 900

  def sell(self):
    print("Selling Price: {}".format(self.__maxprice))

  def setMaxPrice(self, price):
    self.__maxprice = price

c = Computer()
c.sell()

# mengubah harga
c.__maxprice = 1000
c.sell()

# meggunakan setter function
c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

## Polymorphism
Polymorphism berasal dari kata Yunani Poly (banyak) dan morphism (bentuk). Kita akan membuat struktur yang dapat mengambil atau menggunakan berbagai bentuk objek.

Polymorphism adalah kemampuan untuk menggunakan common interface untuk berbagai bentuk (data
types).

In [6]:
# Example 1: Using Polymorphism in Python

class Parrot:
  def fly(self):
    print("Parrot can fly")

  def swim(self):
    print("Parrot can't swim")

class Penguin:
  def fly(self):
    print("Penguin can't fly")

  def swim(self):
    print("Penguin can swim")

# common interface
def flying_test(bird):
  bird.fly()

#instantiate objects
blu = Parrot()
peggy = Penguin()

# passing the object
flying_test(blu)
flying_test(peggy)

Parrot can fly
Penguin can't fly

In [8]:
# Example 2: Using Polymorphism in Python

class Circle:
  pi = 3.14

  def __init__(self, redius):
    self.radius = redius

  def calculate_area(self):
    print("Area of circle:", self.pi * self.radius * self.radius)

class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width

  def calculate_area(self):
    print("Area of Rectangle:", self.length * self.width)

cir = Circle(9)
rect = Rectangle(9, 6)

cir.calculate_area() # Output Area of circle: 254.34
rect.calculate_area() # Output Area of Rectangle: 54

Area of circle: 254.34
Area of Rectangle: 54